html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
}

.fade-wrapper {
  transition: opacity 0.6s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
