html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  cursor: url("/cursor/Arrow2.png"), auto;
}

a:hover, button:hover {
  cursor: url("/cursor/Hand3.png"), pointer!important;
}

.fade-wrapper {
  transition: opacity 0.6s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.dungeon-wrapper {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid white;
}

.dungeon {
  width: 100vw;
  height: 60vh;
  background-image: url("/background/bgTest.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  animation: fadeOut 1s ease 2.5s forwards;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
}

button {
  background: #304d6d;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

button:hover {
  background: #4c6f94ff;
  transform: scale(1.05);
}

.game-ui {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-content: center;
}

.statbar, .encounter-container {
  pointer-events: auto;
}

.UI {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.encounter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statbar {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  border-right: 4px solid white;
  background: rgba(0, 0, 0, 0.8);
}

.grouped-stats {
  display: flex;
  flex-direction: column;
}

@keyframes figureMovement {
  0%, 100% {transform: translate(25px, 15px);}
  25% {transform: translate(15px, -15px);}
  50% {transform: translate(-15px, 15px);}
  75% {transform: translate(-25px, -15px);}
}

@keyframes floatMovement {
  0%, 100% {transform: translateY(10px);}
  50% {transform: translateY(-30px);}
}

@keyframes runMovement {
  0%, 100% {transform: translateX(-50%) translateY(0px);}
  50% {transform: translateX(-50%) translateY(-10px);}
}

.figure8 {
  animation: figureMovement 2s ease-in-out infinite;
}

.float {
  animation: floatMovement 3s ease-in-out infinite;
}

.run {
  animation: runMovement 0.3s ease-in-out infinite;
}